<div class="container">
  <h1 mx-3 my-3 my-sm-3>People List</h1>

  <button class="btn btn-primary mx-1 my-2 my-sm-3">
    Add
  </button>

  <div *ngIf="PeopleList.length == 0" class="alert alert-warning">
    no people found
  </div>

  <table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Phone</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Person of PeopleList">
        <th scope="row">{{ Person.id }}</th>
        <td>{{ Person.FirstName }}</td>
        <td>{{ Person.LastName }}</td>
        <td>{{ Person.Phone }}</td>
        <td>
          <button class="btn btn-primary mx-2 my-2 my-sm-1">
            Details
          </button>
          <button
            class="btn btn-danger mx-2 my-2 my-sm-1"
            (click)="Delete(Person)"
          >
            Delete
          </button>
          <button class="btn btn-warning mx-2 my-2 my-sm-1">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
